section#topImg {
    margin-top: 50px;
}
div.box {
    position: relative;
}
div.box h1 {
    position:absolute;
    top: 30%;
    left: 0;
    width: 100%;
    text-align: center;
}

.heading {
    color: white;
    background-color: rgba(0, 0, 0, 0.5)
}
@media (min-width: 768px) {
    .heading {
        font-size: 80px;
    }
}
@media (min-width: 992px) {
    .heading {
        font-size: 110px;
    }
}

blockquote.letter {
    margin-left: 5px;
    margin-top: 20px;
    background-color: aliceblue;
}