section#topImg {
    margin-top: 50px;
}
div.box {
    position: relative;
}
div.box h1 {
    position:absolute;
    top: 30%;
    left: 0;
    width: 100%;
    text-align: center;
}

.heading {
    color: white;
    background-color: rgba(0, 0, 0, 0.5)
}
@media (min-width: 768px) {
    .heading {
        font-size: 80px;
    }
}
@media (min-width: 992px) {
    .heading {
        font-size: 110px;
    }
}

blockquote.letter {
    margin-left: 5px;
    margin-top: 20px;
    background-color: aliceblue;
}

.video-container {
	position:relative;
	padding-bottom:56.25%;
	padding-top:30px;
	height:0;
	overflow:hidden;
}

.video-container iframe, .video-container object, .video-container embed {
	position:absolute;
	top:0;
	left:0;
	width:100%;
	height:100%;
}

.footer-container {
    padding-top: 5px;
    background-color: rgb(141, 141, 141);
}
/*
.image-bg {
    background-color: aliceblue;
    padding: 20px 0px;
}*/

.bottom-text {
    float: none;
    display: table-cell;
    vertical-align: bottom;
}

.author {
    margin-left: 4em;
    font-size: smaller;
}
.author span {
    display: inline-block;
    margin-left: -1.5em;
    width: 1.5em;
}

.jumbotron .container .row {
    margin: 1em 0em;
}

.konto {
    margin-left: 2em;
}
